@font-face {
  font-family: "iconfont"; /* Project id 3379562 */
  src: url('iconfont.woff2?t=1657193662575') format('woff2'),
       url('iconfont.woff?t=1657193662575') format('woff'),
       url('iconfont.ttf?t=1657193662575') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-yanzhengma:before {
  content: "\e619";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-guanbi:before {
  content: "\e7be";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-xingxing:before {
  content: "\e617";
}

.icon-wode:before {
  content: "\e630";
}

.icon-shijian:before {
  content: "\e8b8";
}

